# global config
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
rule_files:
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # Hello World
  - job_name: 'hello-world-monolith'
    static_configs:
      - targets: ['hello-world-monolith:8081']

  # Tweets Demo
  - job_name: 'tweets-service-v1'
    static_configs:
      - targets: ['tweets-service:8081']
  - job_name: 'tweets-worker-v2'
    static_configs:
      - targets: ['tweets-worker:8081']
  - job_name: 'tweets-indexer-v2'
    static_configs:
      - targets: ['tweets-indexer:8081']
  - job_name: 'tweets-search-v2'
    static_configs:
      - targets: ['tweets-search:8081']